.header {
    padding: 35px 0 75px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--nav {
        display: none;
        // &--list {
        //     display: none;
        // }
    }
}

